<div class="row">
  <div class="small-6 columns">
    <h2>Topics</h2>
  </div>
  <div class="small-6 columns">
    <%= link_to('New Topic', new_topic_path, :class => 'button right') if can?(:create, Topic) %>
  </div>
</div>

<% if @topics.size > 0 %>
  <% @topics.each do |topic| %>
    <%= render :partial => 'details', :locals => {:topic => topic} %>
  <% end %>
<% else %>
  <p>No topics found. <%= link_to 'Propose one!', new_topic_path %></p>
<% end %>
