<h2>About Us</h2>
<p>
  Chico++ is a regular meetup of Chico area web developers, engineers, hackers, designers, and entrepreneurs, inspired by <%= link_to 'SuperHappyDevHouse', 'http://superhappydevhouse.org/' %>, 
  <%= link_to 'Hacker Dojo', 'http://www.hackerdojo.com/' %>, <%= link_to 'HUB', 'http://bayarea.the-hub.net/' %>, and <%= link_to 'BarCamps', 'http://barcamp.org/' %>. It's a place to meetup 
  with your peers, play with ideas, move your side projects forward, show off your work, maybe learn a thing or two, and have some fun along the way.
</p>
