<p>Hi <%= @resource.first_name %>,</p>
<p>Welcome to MySite . You can confirm your account email by clicking this link:</p>
<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
<p>If the link is not clickable, please copy and paste the URL into your browser.</p>
<p>
  Thanks,<br/>
  The MySite Team
</p>
