<p>Hi <%= @resource.first_name %>,</p>
<p>Sorry you lost your password. To change it to something you'll remember, just click on this link:</p>
<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>
<p>If the link is not clickable, please copy and paste the URL into your browser.</p>
<p>
  Thanks,<br/>
  The MySite Team
</p>
<p>
  P.S. If you didn't request to change your password, please ignore this email. Your password won't change unless you 
  access the link above and create a new one.
</p>
